    <!-- CSS Files-->
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/normalize.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/select2.min.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/style.css">
    <link rel="stylesheet" href="https://roktobondhu.com/assets/css/responsive.css">
    <link href="https://roktobondhu.com/assets/toastr/toastr.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>Become a Donor</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <!-- font css -->
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
     </head>

<body>
    <!-- Navbar Section -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand"href="index.html"><img src="images/logo.jpeg"></a> -->
        <a class="navbar-brand" href="index.html">
           <img src="images/logo.jpeg" style="width: 100px; height: auto;">
         </a>
         <div class="col-md-4">
          <p class="banner_text">একের কাঁধে অন্যের হাত, <br>১২/১৪ ব্যাচের রক্তের বাধন টিকে থাক</p>
          <h2 class="banner_taital">এসএসসি ১২ ও এইচএসসি ১৪ ব্যাচ</h2>
      </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
           <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="index.html" style="color: #8a0303;">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="about.html" style="color: #8a0303;">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="pricing.html" style="color: #8a0303;">Donor List</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="shop.html" style="color: #8a0303;">Gallery</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="internal_program.html" style="color: #8a0303;">Internal Program</a>
             </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="services.html" style="color: #8a0303;">Services</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href="contact.html" style="color: #8a0303;">Emergency Contact</a>
              </li>
             
          </ul>
          
          <!-- Add some hover effect using CSS -->
          <style>
              .navbar-nav .nav-link:hover {
                  color: #8a0303; /* Lighter red color on hover */
              }
          </style>
          
           <form class="form-inline my-2 my-lg-0">
              <div class="login_bt">
                 <ul style="list-style-type: none; padding: 0; display: flex; margin: 0;">
                     <li class="active" style="margin-right: 15px;">
                         <a href="become_a_donor.html" style="color: #8a0303; text-decoration: none;">Registration</a>
                     </li>
                     
                     <!-- <li style="margin-right: 15px;">
                         <a href="login.html" style="color: #8a0303; text-decoration: none;">Login</a>
                     </li> -->
                     <!-- <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
                 </ul>
             </div>
             
           </form>
        </div>
     </nav>
   </div>
   <div class="notice-bar" style="background: #8a0303; color: white; font-weight: bold; padding: 10px 0; font-size: 18px;">
    <marquee behavior="scroll" direction="left">
       রক্তের সন্ধানে এসএসসি ২০১২ ও এইচএসসি ২০১৪ ব্যাচ, ওয়েবসাইটে আপনাকে স্বাগতম। ওয়েবসাইট এর কাজ চলছে সাময়িক অসুবিধার জন্য আমরা দু:খিত।
    </marquee>
</div>
    

<section class="all-register-blood-area">
        <div class="container">
          <div class="all-blood-form-area">
            <div class="blood-title" style="color: #ffffff;">
                <h2>ডোনেট করুন</h2>
            </div>
            <form method="POST" action="https://roktobondhu.com/registration-form">
              <input type="hidden" name="_token" value="r0wCkhdDLxgtW3VGypztlLYpdRBy5OlFLxTEdwM9">
              
              <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="নাম" value="">
              </div>
          
              <div class="form-group">
                  <input type="text" name="mobile" class="form-control" id="mobile" placeholder="মোবাইল নাম্বার" value="">
              </div>
          
              <!-- <div class="form-group">
                  <input type="email" name="email" class="form-control" id="email" placeholder="ইমেইল" value="">
              </div> -->
              <div class="form-group">
                <select name="blood_group" id="blood_group" class="form-select form-select-lg">
                  <option value="" selected>জেলা সিলেক্ট করুন</option>
                  <option value="বরগুনা">বরগুনা</option>
                  <option value="বরিশাল">বরিশাল</option>
                  <option value="ভোলা">ভোলা</option>
                  <option value="ঝালকাঠি">ঝালকাঠি</option>
                  <option value="পটুয়াখালী">পটুয়াখালী</option>
                  <option value="পিরোজপুর">পিরোজপুর</option>
                  <option value="বান্দরবান">বান্দরবান</option>
                  <option value="ব্রাহ্মণবাড়িয়া">ব্রাহ্মণবাড়িয়া</option>
                  <option value="চাঁদপুর">চাঁদপুর</option>
                  <option value="চট্টগ্রাম">চট্টগ্রাম</option>
                  <option value="কুমিল্লা">কুমিল্লা</option>
                  <option value="কক্সবাজার">কক্সবাজার</option>
                  <option value="ফেনী">ফেনী</option>
                  <option value="খাগড়াছড়ি">খাগড়াছড়ি</option>
                  <option value="লক্ষ্মীপুর">লক্ষ্মীপুর</option>
                  <option value="নোয়াখালী">নোয়াখালী</option>
                  <option value="রাঙ্গামাটি">রাঙ্গামাটি</option>
                  <option value="ঢাকা">ঢাকা</option>
                  <option value="ফরিদপুর">ফরিদপুর</option>
                  <option value="গাজীপুর">গাজীপুর</option>
                  <option value="গোপালগঞ্জ">গোপালগঞ্জ</option>
                  <option value="কিশোরগঞ্জ">কিশোরগঞ্জ</option>
                  <option value="মাদারীপুর">মাদারীপুর</option>
                  <option value="মানিকগঞ্জ">মানিকগঞ্জ</option>
                  <option value="মুন্সীগঞ্জ">মুন্সীগঞ্জ</option>
                  <option value="নারায়ণগঞ্জ">নারায়ণগঞ্জ</option>
                  <option value="নরসিংদী">নরসিংদী</option>
                  <option value="রাজবাড়ী">রাজবাড়ী</option>
                  <option value="শরীয়তপুর">শরীয়তপুর</option>
                  <option value="টাঙ্গাইল">টাঙ্গাইল</option>
                  <option value="বগুড়া">বগুড়া</option>
                  <option value="জয়পুরহাট">জয়পুরহাট</option>
                  <option value="নওগাঁ">নওগাঁ</option>
                  <option value="নাটোর">নাটোর</option>
                  <option value="চাঁপাইনবাবগঞ্জ">চাঁপাইনবাবগঞ্জ</option>
                  <option value="পাবনা">পাবনা</option>
                  <option value="রাজশাহী">রাজশাহী</option>
                  <option value="সিরাজগঞ্জ">সিরাজগঞ্জ</option>
                  <option value="দিনাজপুর">দিনাজপুর</option>
                  <option value="গাইবান্ধা">গাইবান্ধা</option>
                  <option value="কুড়িগ্রাম">কুড়িগ্রাম</option>
                  <option value="লালমনিরহাট">লালমনিরহাট</option>
                  <option value="নীলফামারী">নীলফামারী</option>
                  <option value="পঞ্চগড়">পঞ্চগড়</option>
                  <option value="রংপুর">রংপুর</option>
                  <option value="ঠাকুরগাঁও">ঠাকুরগাঁও</option>
                  <option value="হবিগঞ্জ">হবিগঞ্জ</option>
                  <option value="মৌলভীবাজার">মৌলভীবাজার</option>
                  <option value="সুনামগঞ্জ">সুনামগঞ্জ</option>
                  <option value="সিলেট">সিলেট</option>
                  <option value="বাগেরহাট">বাগেরহাট</option>
                  <option value="চুয়াডাঙ্গা">চুয়াডাঙ্গা</option>
                  <option value="যশোর">যশোর</option>
                  <option value="ঝিনাইদহ">ঝিনাইদহ</option>
                  <option value="খুলনা">খুলনা</option>
                  <option value="কুষ্টিয়া">কুষ্টিয়া</option>
                  <option value="মাগুরা">মাগুরা</option>
                  <option value="মেহেরপুর">মেহেরপুর</option>
                  <option value="নড়াইল">নড়াইল</option>
                  <option value="সাতক্ষীরা">সাতক্ষীরা</option>
                </select>
            </div>
          
              <div class="form-group">
                  <select name="blood_group" id="blood_group" class="form-select form-select-lg">
                      <option value="" selected>রক্তের গ্রুপ সিলেক্ট করুন</option>
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                  </select>
              </div>
          
              <div class="form-group">
                  <select name="ssc_year" class="form-select" id="ssc_year">
                      <option>এস এস সি ব্যাচ</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                  </select>
              </div>
          
              <div class="form-group">
                  <select name="payment_method" id="payment_method" class="form-select form-select-lg">
                      <option value="" selected>Select Payment Method</option>
                      <option value="Bkash">Bkash (01611940926)</option>
                      <option value="Nagad">Nagad (01841940926)</option>
                      <option value="Rocket">Rocket (016119409268 )</option>
                  </select>
              </div>
              <div class="form-group">
                <input type="text" name="transaction_id" class="form-control" placeholder="টাকার পরিমাণ উল্লেখ করুন" required>
            </div>
        
              <div class="form-group">
                  <input type="text" name="transaction_id" class="form-control" placeholder="Transaction ID" required>
              </div>
          
              <div class="form-group">
                  <label>Upload Screenshot/Photo</label>
                  <input type="file" name="payment_screenshot" class="form-control" accept="image/*" required>
              </div>
          
              <!-- Suggestion Box -->
               
              <div class="form-group">
                  <label for="suggestion">পরামর্শ</label>
                  <textarea name="suggestion" id="suggestion" class="form-control" placeholder="আপনার পরামর্শ লিখুন..." rows="3"></textarea>
              </div>
          
              <button type="submit" class="btn btn-primary">ডোনেট</button>
          </form>
          
          </div>
        </div>
      </section>
    <!-- End register Form Area -->

    <!-- JS Files -->
    <script src="https://roktobondhu.com/assets/js/axios.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/jquery.min.js"></script>
    <script src="https://roktobondhu.com/assets/toastr/toastr.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/popper.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/bootstrap.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/owl.carousel.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/select2.min.js"></script>
    <script src="https://roktobondhu.com/assets/js/scripts.js"></script>
    <script src="https://roktobondhu.com/sw.js"></script>
    <script>
      $(window).on("load",function (){ 
        $('#preloader').fadeOut('slow',function(){$(this).remove();});
        
      });

      window.onload = () => {
      'use strict';

        if (!navigator.serviceWorker.controller) {
            navigator.serviceWorker.register("/sw.js").then(function (reg) {
                console.log("Service worker has been registered for scope: " + reg.scope);
            });
        }
      }
    </script>

    <script>
  // If Others Blood Group
  $('#blood_group').on('change',function(){
    let blood_group = $(this).val();
    if(blood_group == 'Others'){
      $('#other_blood_group').show();
    }
    else{
      $('#other_blood_group').hide();
    }
  });

  // Get Districts List
  $('#country').on('change',function(){
    $('#s_dist').prop("disabled", true);
    $('#bartoman_zila').prop("disabled", true);

    let country = $('#country').val();
    if(country =='India'){
      var thana = "মহকুমা";
      $('.thana_name').html('মহকুমা<span>*</span>');
    }else{
      var thana = "উপজেলা";
      $('.thana_name').html('উপজেলা<span>*</span>');
    }
    axios.post("https://roktobondhu.com/api-get-districts-list",{
      country:country
    })
    .then(function(response){
      if(response.status == 200){
        let dist_list = response.data;

        $('#bartoman_zila').empty();
        $('#s_dist').empty();
        $("#bartoman_zila").append('<option>জেলা সিলেক্ট করুন</option>');
        $("#s_dist").append('<option>জেলা সিলেক্ট করুন</option>');

        $("#s_thana").html('<option value="">'+thana+' সিলেক্ট করুন</option>');
        $("#bartoman_thana").html('<option value="">'+thana+' সিলেক্ট করুন</option>');

          if(dist_list.length !=0)
          {
            $('#bartoman_zila').prop("disabled", false);
            $.each(dist_list,function(key,value){
                $('#bartoman_zila').append($("<option/>", {
                    value: value.bn_name,
                    text: value.bn_name+' - '+value.name
                }));
            });
            $('#s_dist').prop("disabled", false);
            $.each(dist_list,function(key,value){
                $('#s_dist').append($("<option/>", {
                    value: value.bn_name,
                    text: value.bn_name+' - '+value.name
                }));
            });
          }
      }
    });
  });

  // Get Upazilas List
  $('#bartoman_zila').on('change',function(){
    $('#bartoman_thana').prop("disabled", true);
    let selected_country = $('#country').val();
    if(selected_country =='India'){
      var thana = "মহকুমা";
    }else{
      var thana = "উপজেলা";
    }

    let zila = $(this).val();
    axios.post("https://roktobondhu.com/api-get-upazila-list",{
      zila:zila
    })
    .then(function(response){
      if(response.status == 200){
        let upazila_list = response.data;

        $('#bartoman_thana').empty();
        $("#bartoman_thana").append('<option>'+thana+' সিলেক্ট করুন</option>');
          if(upazila_list.length !=0)
          {
            $('#bartoman_thana').prop("disabled", false);
            $.each(upazila_list,function(key,value){
                $('#bartoman_thana').append($("<option/>", {
                    value: value.bn_name,
                    text: value.bn_name+' - '+value.name
                }));
            });
          }
      }
    });
  });
  $('#s_dist').on('change',function(){
    $('#s_thana').prop("disabled", true);
    let szila = $(this).val();
    let selected_country2 = $('#country').val();
    if(selected_country2 =='India'){
      var thana = "মহকুমা";
    }else{
      var thana = "উপজেলা";
    }

    axios.post("https://roktobondhu.com/api-get-upazila-list",{
      zila:szila
    })
    .then(function(response){
      if(response.status == 200){
        let supazila_list = response.data;

        $('#s_thana').empty();
        $("#s_thana").append('<option>'+thana+' সিলেক্ট করুন</option>');
          if(supazila_list.length !=0)
          {
            $('#s_thana').prop("disabled", false);
            $.each(supazila_list,function(key,value){
                $('#s_thana').append($("<option/>", {
                    value: value.bn_name,
                    text: value.bn_name+' - '+value.name
                }));
            });
          }
      }
    });
  });

</script>
 
     
  </body>
</html>
    

